<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>首页</title>
	<link href="./css/css_common.css" rel="stylesheet"/>
	<link href="./css/css_main.css" rel="stylesheet"/>
    <!-- <script src="./libs/plupload.full.min.js"></script> -->
	<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=9bddf6d4cca3ff66bbcd349ae6e52ea6"></script>
    <script src="https://cdn.staticfile.org/plupload/2.1.9/plupload.full.min.js"></script>
</head>
<body>
	<div id="app"></div>
	<script src="./js/common.js"></script>
	<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8277432c34c6f58ba75d3a541ed2559e"></script> -->
	<script src="./js/bundle_main.js"></script>
</body>
</html>

